/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container
    {
       background-color: blue;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container
   {
       background-color: green;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container
   {
       background-color: red;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container
   {
       background-color: fuchsia;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .container{
            background-color: aquamarine;
        }
    }
