body{
    background-color: #0178a3;
}
#hero
{
    background-image: url('../img/narwhale.jpg');
    width: 100%;
    height: 67vh; /*px, vh, em, vw, rem */
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px auto;
    background-position:center;
    padding: 10px;
    margin: 14px;
}
.content {
    padding: 104px;
    width: 38%;
    margin: 0 auto;
    color: black;
}

button
{
    background: darkblue;
    color: white;
    font-size: x-large;
    padding: 12px;
}
#column
{
    padding: 10px;
    margin: 14px;
    background:white;
    text-align: center;
}
#column .content p
{
    column-count: 5;
    column-gap: 10px;

}
.grid-member
{
    width: 17%;
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    margin: 5px;
}
#grid
{
    display: flex;
    justify-content: center;
}