body{
    background-color: #0178a3;
}
#hero
{
    background-image: url(../img/narwhale.jpg);
    background-repeat:  no-repeat;
    background-position: center;
    height: 67vh; /*px, rem, vw... */
    text-align: center;
    padding: 10px;
}
#hero .content
{
    padding: 19%;
    color: white;
    
}
#hero .content h1, #hero .content p{
    background-color: #add8e6cf
}
button
{
    background: #0178a3;
    color: white;
    font-size: larger;
    padding: 10px;
    border: 2px solid darkblue;
    border-radius: 6%;
}

#columnInfo{
    background: #d4f0fc;
    text-align: center;
    padding: 10px;
}
#columnInfo .content p
{
    column-count: 3;
    
}
.grid-member
{
    width: 18%;
    text-align: center;
    background: #d4f0fc;
    padding: 5px;
    margin: 5px;
}
#grid
{
    display: flex;
    justify-content: center;
}