#hero{
    background: url('narwhale.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
    margin: 0;
  text-align: center;
  color: white;
}

#read
{
    border: .5px solid white;
    background: gray;
    padding: 10px 20px;
}
#read:hover
{
    background-color: aliceblue;
}
.col
{
    text-align: center;
    margin: 0px 10%;
}
.col p
{
    column-count: 2;
}
.flex
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(82, 77, 77);
    margin: 5%;
}
.card
{
    width: 25%;
    padding: 2px;
    background-color: white;
}
.card img
{
    width: 100%;
}